.map_licenses_integration_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 426px;
	height: 319px;
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		rgba(255, 255, 255, 0.8) 100%
	);
	border: 1px solid #dddddd;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 42px 50px;
}

.map_licenses_link_button {
	border: 1px solid #2266e2;
	color: #2266e2 !important;
	width: fit-content;
	padding-left: 21px !important;
	padding-right: 21px !important;
	margin-top: 18px;
}

.map_licenses_unmapped_licenses_box {
	width: 293px;
	background: #ffffff;
	display: flex;
	flex-direction: column;
}

.license_mapper_single_license_box {
	background: #e8f0fc;
	border: 1px solid #b1c8f3;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 12px 8px;
	margin: 10px 10px 0px 10px;
}

.map_licenses_quick_assign_boxes_container {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 63px;
	padding-bottom: 5px;
	margin-top: 8px;
}

.map_licenses_quick_assign_box {
	min-width: 132px;
	min-height: 54px;
	background: #ffffff;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	border-radius: 4px;
	margin-right: 8px;
}

.license__assignment__all__licenses__cont {
	overflow-x: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.single__license__popover__container {
	position: absolute;
	top: 44px;
	width: 267px;
	background: #ffffff;
	border: 0.5px solid rgba(151, 151, 151, 0.2);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12),
		0px 22px 34px rgba(0, 0, 0, 0.146689);
	border-radius: 8px;
	z-index: 100;
}

.map__licenses__new__role__buttom {
	position: absolute;
	right: -20px;
}

.map__licenses__new__role__popup {
	position: absolute;
	top: 25px;
	right: -200px;
	width: 317px;
	height: 128px;
	background: #ffffff;
	border: 0.5px solid rgba(151, 151, 151, 0.2);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12),
		0px 22px 34px rgba(0, 0, 0, 0.146689);
	border-radius: 8px;
	z-index: 100;
	padding: 17px;
}

.user_license_popover {
	cursor: default;
	position: absolute;
	width: 300px;
	top: 40px !important;
	left: 148px !important;
	padding: 10px;
}

.user_license_popover_role {
	width: 170px !important;
}

.add_user_via_csv_btn {
	background: white;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 0px 14.25px;
	border-radius: 4px;
	height: 34px;
	cursor: pointer;
}

.add_user_via_csv_btn:hover {
	background: rgba(235, 235, 235, 0.3);
}
