.filter-div-outer {
	background: rgba(90, 186, 255, 0.1);
	border-radius: 14px;
	padding: 4px 0 4px 8px;
	font-size: 13px;
}

.filter-div-outer > img {
	margin: 8.5px 8px 8.5px 7px;
}

.filter-div-active-text {
	color: #5abaff;
}
