.sidebar_tabs {
	height: calc(100vh - 88px);
	background-color: #ffffff;
	overflow-y: scroll;
}

/* width */
.sidebar_tabs::-webkit-scrollbar {
	width: 0px;
}

.sidebar_tabs > .nav.nav-tabs > a {
	margin-right: 15px;
	height: 50px !important;
	width: 32px !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.sidebar_tabs > .nav.nav-tabs:first-child {
	padding-left: 28px;
}

.sidebar_tabs > .nav.nav-tabs > .nav-item.nav-link > .tab_image_holder {
	padding: 2px 4px;
	border-radius: 3px;
	background-color: #f5f6f9;
	display: flex;
	height: 95%;
}

.sidebar_tabs > .nav.nav-tabs > .nav-item.nav-link.active > .tab_image_holder {
	background-color: #5abaff;
}

.sidebar_tabs > .nav.nav-tabs > .nav-item.nav-link.active {
	box-shadow: inset 0px -2px 0px #5abaff;
}

.sidebar_tabs > .nav.nav-tabs > .nav-item.nav-link > .tab_image_holder > img {
	margin: auto;
}

.tab_content {
	margin-left: 27px;
	margin-right: 27px;
}

.tab_content_header {
	font-size: 16px;
	font-weight: 600;
	color: #484848;
}

.tab_content_body {
	margin-top: 10px;
}

.checkPending .form-control {
	width: 48% !important;
}

.checkPending .form-control:last-child {
	margin-left: auto;
}

.dragAndDrop,
.dragAndDrop > img {
	cursor: grab;
}

.dragAndDrop:active,
.dragAndDrop > img:active {
	cursor: grabbing;
}

.workflowStatusCard {
	height: 96px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 16px 28px;
	cursor: pointer;
}

.status_user_logo {
	object-fit: cover;
	width: 21px;
	height: 21px;
	margin-right: 6px;
	font-size: 8px;
	border-radius: 50%;
	align-self: center !important;
}

.runtab_content_body {
	margin-left: -27px;
	margin-right: -27px;
}

.workflow_status {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.workflow_status > .status_name {
	color: #717171;
	align-self: center;
	margin-left: 4px;
	font-size: 12px;
}

.rule_start_text {
	position: relative;
	background-color: #fafbff;
	min-width: 92px;
	height: 38px;
	padding: 0px 16px;
	height: 40px;
	line-height: 36px;
	display: inline-block;
	color: white;
	border: 1px solid #DDDDDD;
	border-right: none;
	z-index: 1;
	color: #717171;
	margin-right: 32px;
	font-weight: 600;
    font-size: 14px;
	text-align: center;
}

.rule_start_text:before {
	content: "";
	position: absolute;
	left: 100%;
	z-index: -1;
	width: 28px;
	height: 27px;
	background-color: #fafbff;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	transform: rotate(-45deg) translate(-14px, -7px);
}