.topRowContainer {
	display: flex;
	margin: 0 40px;
	padding: 10px;
	background: #f6f7fa;
	border-radius: 8px;
	justify-content: space-between;
	gap: 10px;
}

.topRowCard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 6px;
	min-width: 140px;
	width: 100%;
	background: #ffffff;
	border-radius: 8px;
	min-height: 101px;
}

.topRowCardBreakDownRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 4px;
}

.topRowCardBreakDownRow:hover {
	background: rgba(90, 186, 255, 0.1);
	border-radius: 2px;
}

.topRowCardBreakDownRowLogo {
	width: 12px;
	height: auto;
	box-sizing: border-box;
	border-radius: 50%;
}

.topRowCardBreakDownProcessing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2px;
	gap: 8px;
	min-height: 178px;
	background: #f6f7fa;
	border-radius: 8px;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	height: 100%;
}

.topRowCardBreakDownProcessingText {
	font-weight: 400;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	color: #a8a8a8;
	flex: none;
	order: 1;
	flex-grow: 0;
}
