.ca__cont__d1 {
	font-weight: normal;
	font-size: 11px;
	line-height: 150%;
	/* identical to box height, or 16px */

	/* grey-1 */

	color: #484848;
	margin-top: 7px;
}
.ca__table__cont {
	margin-top: 20px;
}
