.sendprompt__customtextarea {
	width: 491px;
	height: 91px;
	margin-bottom: 33px;
	border: 1px solid #5abaff !important;
	padding: 11px 16px;
	font-size: 14px;
	line-height: 18px;
	color: #717171;
}

.modal-602w {
	width: 602px !important;
}
