.getting__started__modal {
	width: 98vw !important;
	max-width: none !important;
	height: 100%;
	margin: 0;
	padding: 2px;
}
.getting__started__modal_progress {
	position: relative;
	width: 483px;
}

.getting__started__right__section {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #2266e2;
	margin-bottom: 16px;
}
.getting__started__right__section .resources-header {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #484848;
	background: #ffffff;
	border: none;
}
.getting__started-resource-link {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 16px;
}
.getting__started-item {
	margin-bottom: 10px;
}
.getting__started-title {
	font-family: Sora;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #222222;
}
.getting__started__modal_progress_completed {
	position: absolute;
	background: #ffcf28;
	height: 18px;
	border-radius: 40px;
}
.getting__started__modal_progress_remaining {
	position: absolute;
	width: 100%;
	background: #ffffff;
	opacity: 0.2;
	border-radius: 40px;
	height: 18px;
}

.getting__started__modal_title img {
	vertical-align: middle;
	border-style: none;
	width: 68px;
	margin-left: 11px;
	margin-bottom: 9px;
}

.getting__started__modal_title {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;
}

.getting__started__modalbody__wrapper {
	display: flex;
	margin: 43px 0 0 63px;
}

.getting__started__modal_header {
	background: #2266e2;
	color: #ffffff;
}

.getting__started__remaining-count {
	position: absolute;
	width: fit-content;
	height: fit-content;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.getting__started__modal_header__wrapper {
	margin-left: 63px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.z__button.getting__started__progress__button {
	color: #2266e2;
	border: 0.5px solid #2266e2;
	box-sizing: border-box;
	border-radius: 4px;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-family: Sora;
	border: 0.5px solid #2266e2;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 1px 10px;
}

.getting__started__button {
	margin-top: 27px;
}
.getting__started__subtitle {
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #222222;
	opacity: 0.6;
	margin-top: 8px;
}
.getting__started__title {
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	color: #222222;
}

.initial__setup__wrapper {
	font-family: Sora;
	font-style: normal;
	display: flex;
	justify-content: space-between;
	margin: 21px 41px;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 23px 92px 23px 49px;
	align-items: center;
}
.intial__setup__progress {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 46px;
}
.intial__setup__progress-title {
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	margin-top: 15px;
}
.intial__setup__progress-subtitle {
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #222222;
	opacity: 0.6;
	max-width: 341px;
	margin-top: 12px;
}

.intial__setup__progress img {
	margin-top: 48px;
}

.initial__setup__shimmer__container {
	margin: 0 40px;
}
.initial__setup__shimmer__1__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 345px;
	align-items: center;
}

.initial__setup__shimmer__2__wrapper {
	width: 100%;
	height: 300px;
	padding: 25px;
	border: 1px groove #ebebeb;
	box-sizing: border-box;
	border-radius: 10px;
}

.initial__setup__shimmer__2 {
	width: 100%;
	height: 100%;
}

.initial__setup__shimmer {
	display: flex;
	flex-basis: 23.5%;
	width: 236px;
	height: 276px;
	background: rgba(235, 235, 235, 0.1);
	border: 1px solid rgba(72, 72, 72, 0.1);
	box-sizing: border-box;
	border-radius: 10px;
}
.gettingstarted__item__header.card-header {
	background-color: #ffffff;
	border-bottom: none;
}
.gettingstarted__item__body {
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	color: #484848;
}
.gettingstarted__item__body__steps {
	margin-top: 11px;
}
.gettingstarted__item__toggle {
	display: flex;
	justify-content: space-between;
}
.gettingstarted__item__toggle-left__section {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #222222;
}

.gettingstarted__item__toggle-left__section span {
	margin-left: 15px;
}

.gettingstarted__item__toggle-right__section {
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	color: #717171;
	opacity: 0.5;
}
.gettingstarted__item__toggle-right__section span {
	margin-right: 23px;
}

.step {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: cream;
	position: relative;
}

.step-dot {
	position: absolute;
	left: 13px;
	z-index: 1;
}

.getting__started-stepper {
	width: 100%;
	position: relative;
}
.getting__started-stepper > img {
	margin: 0 23px 0 -13px;
}
.v-stepper::before {
	content: "";
}

/* regular step */
.step .circle {
	background-color: white;
	border: 3px solid gray;
	border-radius: 100%;
	width: 20px; /* +6 for border */
	height: 20px;
	display: inline-block;
}

.step .line {
	top: 25px;
	left: 20px;
	height: 100%;

	position: absolute;
	border-left: 1px solid #ebebeb;
}

.step.completed .circle {
	visibility: visible;
	background-color: rgb(6, 150, 215);
	border-color: rgb(6, 150, 215);
}

.step.completed .line {
	border-left: 3px solid rgb(6, 150, 215);
}

.step.active .circle {
	visibility: visible;
	border-color: rgb(6, 150, 215);
}

.step.empty .circle {
	visibility: hidden;
}

.step.empty .line {
	/*     visibility: hidden; */
	/*   height: 150%; */
	top: 0;
	height: 150%;
}

.step:last-child .line {
	border-left: 3px solid white;
	z-index: -1; /* behind the circle to completely hide */
	display: none;
}
