$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
	(
		0: 0,
		1: (
			$spacer * 0.25,
		),
		2: (
			$spacer * 0.5,
		),
		3: $spacer,
		//16px
		4:
			(
				$spacer * 1.5,
			),
		//24px
		5:
			(
				$spacer * 3,
			),
		//48px
		6:
			(
				$spacer * 4,
			),
		//64px
		7:
			(
				$spacer * 5,
			),
		//80px
		8:
			(
				$spacer * 6.25,
			),
		//100px
		9:
			(
				$spacer * 7.5,
			),
		//120px
		10:
			(
				$spacer * 9.375,
			),
	),
	$spacers
);

@import "~bootstrap/scss/bootstrap.scss";

@import "./modal.scss";

$theme-colors: (
	"primary": #2266e2,
	"danger": #ff4136,
);

/*
    Avoid using this, use .font-16, .black instead scroll down to see the defination
*/
.z__header-secondary {
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #000;
}

/*
    Avoid using this, use .font-16, .black, .o-8 instead scroll down to see the defination
*/
.z__block-header {
	font-size: 12px;
	line-height: 15px;
	opacity: 0.8;
	color: #000;
	margin-bottom: 5px;
}

/*
    Avoid using this, use .font-14, .black-1 instead scroll down to see the defination
*/
.z__header-ternary {
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #222 !important;
}

/*
    Avoid using this, use .font-12, .grey1 .o-8 instead scroll down to see the defination
*/
.z__description-secondary {
	color: #717171;
	font-size: 12px;
	line-height: 18px;
	opacity: 0.8;
}

/*
    Avoid using this, use .font-14, .black instead scroll down to see the defination
*/
.z__description-highlight {
	color: #000;
	font-size: 14px;
	line-height: 21px;
}

/*
    Avoid using this, use .font-12, .grey1 .o-5 instead scroll down to see the defination
*/
.z__header-quaternary {
	font-size: 12px;
	line-height: 15px;
	color: #717171;
	opacity: 0.5;
}

/*
    Avoid using this, use .font-22, .black-1 instead scroll down to see the defination
*/
.z__header-primary {
	font-size: 22px;
	line-height: 28px;
	color: #222;
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.font-22 {
	font-size: 22px;
	line-height: 28px;
}

.font-12 {
	font-size: 12px;
	line-height: 15px;
}

.font-18 {
	font-size: 18px;
	line-height: 23px;
}

.font-11 {
	font-size: 11px;
	line-height: 14px;
}

.font-9 {
	font-size: 9px;
	line-height: 11px;
}

.font-8 {
	font-size: 8px;
	line-height: 10px;
}

.font-7 {
	font-size: 7px;
	line-height: 9px;
}

.font-14 {
	font-size: 14px;
	line-height: 18px;
}

.font-13 {
	font-size: 13px;
	line-height: 20px;
}

.font-16 {
	font-size: 16px;
	line-height: 20px;
}

.font-10 {
	font-size: 10px;
	line-height: 13px;
}

.bold-400 {
	font-weight: 400;
}

.bold-600 {
	font-weight: 600;
}

.bold-700 {
	font-weight: 700;
}

.bold-500 {
	font-weight: 500;
}

.bold-normal {
	font-weight: normal;
}

.grey {
	color: #484848;
}

.flex {
	display: flex;
}

.grey-1 {
	color: #717171 !important;
}

.primary-color {
	color: #2266e2;
}

.primary-color-bg {
	background-color: #2266e2;
}

.primary-color-border {
	border: 1px solid #2266e2;
}

.black-1 {
	color: #222 !important;
}

.w-100 {
	width: 100%;
}

.w-80 {
	width: 80%;
}

.o-7 {
	opacity: 0.7;
}

.o-8 {
	opacity: 0.8;
}
.o-4 {
	opacity: 0.4;
}

.o-5 {
	opacity: 0.5;
}

.o-6 {
	opacity: 0.6;
}

.o-7 {
	opacity: 0.7;
}

.o-8 {
	opacity: 0.8;
}

.o-10 {
	opacity: 1 !important;
}

.border-1 {
	border: 1px solid #ebebeb !important;
	box-sizing: border-box;
}

.border-radius-4 {
	border-radius: 4px !important;
}

.border-radius-2 {
	border-radius: 2px !important;
}

.border-radius-6 {
	border-radius: 6px !important;
}

.border-radius-8 {
	border-radius: 8px !important;
}

.img-circle {
	border-radius: 100%;
}

.object-contain {
	object-fit: contain;
}

.green {
	color: #5fcf64 !important;
}

.red {
	color: #ff6767;
}

.white {
	color: #fff;
}

.bg-red {
	background: #ff6767;
}

.bg-blue {
	background-color: rgba(90, 186, 255, 0.1);
}

.text-underline {
	text-decoration: underline;
}

.text-decoration-none {
	text-decoration: none;
}

.position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.black {
	color: #000;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.red-bg {
	border: 0.5px solid #ff6767;
	background: rgba(255, 103, 103, 0.1);
}

.green-bg {
	background: #dff5e0;
}

.button-primary-white-background {
	background: #ffffff;
	color: #2266e2;
	border: 1px solid #2266e2;
}

.pe-none {
	pointer-events: none;
}

.list-style-none {
	list-style: none;
}

.sticky-top {
	position: sticky;
	top: 0;
	background: #fff;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.flex-4 {
	flex: 4;
}

.flex-5 {
	flex: 5;
}

.lightGreyBg {
	background-color: #ebebeb33;
}

.grey-bg {
	background-color: #e9ebf0;
}

.authorized_green {
	color: #5fcf64 !important;
}

.glow_blue {
	color: #5abaff !important;
}

.unauthorized_red {
	color: #fe6955 !important;
}

.text_orange {
	color: #ffb169 !important;
}

.dashedBorder {
	border: 1px dashed #dddddd;
}

.font-24 {
	font-size: 24px;
}

.font-15 {
	font-size: 15px;
}

.grey-1-bg {
	background-color: #717171 !important;
}

.font-roboto-500 {
	font-family: "Roboto Mono";
	font-weight: 500;
}

.border-less-icon {
	position: relative;
	left: -18px;
	background: #f8f9fb;
	border-radius: 30px;
	width: 12px;
}
.white-bg {
	background-color: #fff;
}

.dropdown-effect {
	border: 1px solid #dddddd;
	box-sizing: border-box;
	box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
		0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	position: absolute;
	width: 100%;
	background: #fff;
	z-index: 999;
}

.dropdown-effect ul li:hover,
.on-hover-effect:hover {
	background: rgba(90, 186, 255, 0.1);
}

.cursor-default {
	cursor: default !important;
}

.justify-content-evenly {
	justify-content: space-evenly;
}

.background-color-white {
	background-color: #ffffff;
}

.background-white-on-hover:hover {
	background-color: #ffffff !important;
}

.custom-map-modal-lg {
	.modal-content {
		min-height: 550px !important;
		overflow-y: auto;
	}
	.modal-dialog {
		max-width: 600px;
	}
	.border-bottom {
		border-bottom: none !important;
	}
}

.custom-map-modal {
	.modal-dialog {
		width: 100%;
		height: auto;
		padding: 0;
		max-width: 700px;
	}
	.modal-content {
		height: auto !important;
		border-radius: 0;
	}
}

.date-picker-log {
	width: 220px;
	padding-left: 15px;
}

.light-grey-bg {
	background-color: #f8f9fb;
}

.img-responsive {
	max-width: 100%;
	max-height: 100%;
}

.mt-14px {
	margin-top: 14px;
}

.z-index-20 {
	z-index: 20;
}

.z-index-30 {
	z-index: 30;
}

.z-index-40 {
	z-index: 40;
}

.z-index-50 {
	z-index: 50;
}

.z-index-60 {
	z-index: 60;
}

.z-index-70 {
	z-index: 70;
}

.z-index-80 {
	z-index: 80;
}

.z-index-90 {
	z-index: 90;
}

.z-index-100 {
	z-index: 100;
}

.integration-description span {
	font-family: "Sora", sans-serif !important;
	line-height: 24px;
}

.integration-step-image img {
	width: 200px;
	height: 150px;
}

.font-white {
	color: #ffffff;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #fdfdfd;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
	box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
	background-color: #e5e5e5;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #fdfdfd;
}
::-webkit-scrollbar-corner {
	border-radius: 10px;
}

.width-fit-content {
	width: fit-content;
}

.text-truncate-large {
	max-width: 30vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-truncate-small {
	max-width: 4.5vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search-result-tab-info {
	text-align: center;
	min-width: 25%;
	background: rgba(235, 235, 235, 0.6);
	font-size: 12px;
	border-radius: 4px;
}

.search-result-tab-info:hover {
	background: rgba(90, 186, 255, 0.1);
	color: rgb(90, 186, 255);
	border: 1px solid #dee2e6 !important;
}

.blue_tint_bg {
	background-color: #e8f0fc;
}

.padding_4 {
	padding: 4px;
}

.horizontal_padding_16 {
	padding: 0 16px;
}

.padding_8 {
	padding: 8px;
}

.primary_bg_2 {
	background-color: #5287e8;
}

.w-5 {
	width: 5%;
}

.w-10 {
	width: 10%;
}

.w-15 {
	width: 15%;
}

.w-20 {
	width: 20%;
}

.w-30 {
	width: 30%;
}

.w-35 {
	width: 35%;
}

.w-40 {
	width: 40%;
}

.w-45 {
	width: 45%;
}

.w-60 {
	width: 60%;
}

.w-70 {
	width: 70%;
}

.integration-tooltip .tooltip-inner {
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
}

.integration-tooltip .arrow::before {
	border-top-color: #000 !important;
}

.pointer-events-none {
	pointer-events: none;
}

.text-color-black {
	color: #000000;
}
