.help_video_container {
    background-color: #00000085;
    border-radius: 4px;
    position: relative;
    width: 374px;
    height: 233px;
}

.help_video_container img {
    position: absolute;
    left: 162px;
    top: 95px;
}