.z__if__header h3{
    margin-bottom: 3px;
}

.z__if__edit{
    background: #2266E2;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: relative;
}
.z__if__edit_actions{
    z-index: 9;
    right: 2px;
}

.z__if__body{
    min-height: 28px;
}

.z__if__edit > div:first-child, .z__if__edit > input:first-child{
    height: 28px;
    background: transparent;
    color: #fff;
    box-shadow: none;
    border: none;
    padding-right: 38px;
    min-width: 180px;
}

.z__if__edit .z__select .z__select--input{
    padding: 10px;
}

.z__if__edit .z__select .z__select--options__container .z__select--options__container--option:hover {
    background-color: #eff8ff;
}

.z__if__edit .z__select .z__select--input .z__select--input__icon{
    display: none;
}

.z__if__edit .z__select .z__select--input span{
    padding: 0;
}

.z__if__body .z__if__before{
    padding-right: 0px;
}

.z__if__body .z__if__before button{
    color: inherit;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    word-break: break-word;
}

.z__if__body .z__if__before button.z__button.edit{
    padding-right: 0;
}

.z__if__body .z__if__before button.edit:hover{
    border-bottom: 1px solid #ccc;
}


.z__if__edit .z__date-picker .z__date-picker--placeholder{
    color: #fff;
}

.z__if__body .z__if__before button.link{
    color: #2266e2;
}

.z__if__edit > input::placeholder{
    color: #fff;
    opacity: 0.5;
}